@model Nop.Plugin.Widgets.HelloWorld.Models.PublicInfoModel
@{
    Layout = "";
}


<div>@Model.DisplayText</div>


<script asp-location="Footer">
    $(window).on('load', function () {
    });
</script>